<!DOCTYPE html>
<html lang="en">
{% load static %}
{% block page_content %}
    <head>
        <!-- META SECTION -->
        <title>Map - ꓘamerka</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- END META SECTION -->

        <!-- CSS INCLUDE -->
        <script src="{% static 'js/d3.js' %}"></script>
        <script src="{% static 'js/d3.layout.cloud.js' %}" charset="UTF-8"></script>
        <script src="{% static 'js/d3.wordcloud.js' %}" charset="UTF-8"></script>
        <link rel="stylesheet" type="text/css" id="theme" href="{% static 'css/theme-default.css' %}"/>
        <!-- EOF CSS INCLUDE -->
    </head>
    <body>
        <!-- START PAGE CONTAINER -->
        <div class="page-container">

            <!-- START PAGE SIDEBAR -->
            <div class="page-sidebar">
                <!-- START X-NAVIGATION -->
                <ul class="x-navigation">
                    <li class="xn-logo">
                        <a href="/">ꓘamerka</a>
                        <a href="#" class="x-navigation-control"></a>
                    </li>
                    <li class="xn-profile">

                        <div class="profile">
                            <div class="profile-image">
                            </div>
                            <div class="profile-data">
                                  <img width=200px height=200px src="https://www.offensiveosint.io/content/images/2020/07/OffensiveOsint-logo-RGB-2.png">

                            </div>

                        </div>
                    </li>
                    <li class="xn-title">Navigation</li>
                    <li class="">
                        <a href="index"><span class="fa fa-desktop"></span> <span class="xn-text">Dashboard</span></a>
                    </li>
                    <li class="">
                        <a href="history"><span class="fa fa-files-o"></span> <span class="xn-text">History</span></a>
                    </li>
                    <li class="">
                        <a href="map"><span class="fa fa-map-marker"></span> <span class="xn-text">Map</span></a>
                    </li>
                    <li class="">
                        <a href="devices"><span class="fa fa-search"></span> <span class="xn-text">Search</span></a>
                    </li>

                    <li class="xn-title">Components</li>

                    <li>
                        <a href="sources"><span class="fa fa-book"></span> <span class="xn-text">Useful links</span></a>
                    </li>


                </ul>
                <!-- END X-NAVIGATION -->
            </div>
            <!-- END PAGE SIDEBAR -->

            <!-- PAGE CONTENT -->
            <div class="page-content">

                <!-- START X-NAVIGATION VERTICAL -->
                <ul class="x-navigation x-navigation-horizontal x-navigation-panel">

                    <!-- END TASKS -->
                </ul>
                <!-- START BREADCRUMB -->
<ul class="breadcrumb">


                </ul>
                <!-- END BREADCRUMB -->

                <!-- PAGE CONTENT WRAPPER -->
                <!-- END BREADCRUMB -->

                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">

                    <!-- START WIDGETS -->
                    <div class="row">
                       <div class="panel panel-default">
                                <div class="panel-heading ui-draggable-handle">
                                    <h3 class="panel-title">Google World Map</h3>
                                </div>
                                <div class="panel-body panel-body-map">
                                    <div id="google_world_map" style="width: 100%; height: 600px;">
                                        Loading...
                                    </div>
                                </div>
                       </div>
                </div>

                <!-- END PAGE CONTENT WRAPPER -->
            </div>
            </div>
        </div>

            <!-- END PAGE CONTENT -->
        <!-- END PAGE CONTAINER -->

    <!-- START SCRIPTS -->
        <!-- START PLUGINS -->
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_key }}&callback=myMap&libraries=places" type="text/javascript"></script>
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{% static 'js/markerclusterer.js' %}"></script>

<script type="text/javascript">
var marker;
var gm_map;
var markerArray = [];
{% for device in devices %}
    {% if forloop.first %}
    var mumbai = new google.maps.LatLng({{ device.lat }},{{ device.lon }});
    {% endif %}
    {% endfor %}
var infoWindow = new google.maps.InfoWindow();
function initialize() {
    var marker, i;
    var clusterMarkers = [
              {% for device in devices %}

            marker = new google.maps.Marker({
            position: new google.maps.LatLng({{device.lat}},{{device.lon}}),
            map: gm_map,
            title: "<a href=/results/{{device.search_id}}/{{device.id}}/{{device.ip}}> {{device.type}} - {{device.ip}}</a>",
            {% if device.type == "niagara" %}
            icon: "{% static 'images/blue.png' %}",
            {% elif device.type == "modbus" %}
            icon: "{% static 'images/factory_orange.png' %}",
            {% elif device.type == "bacnet" %}
            icon: "{% static 'images/green.png' %}",
            {% elif device.type == "siemens" %}
            icon: "{% static 'images/pink.png' %}",
            {% elif device.type == "ethernetip" %}
            icon: "{% static 'images/purple' %}",
            {% elif device.type == "dnp3" %}
            icon: "{% static 'images/purple.png' %}",
            {% elif device.type == "pcworx" %}
            icon: "{% static 'images/light_purple.png' %}",
            {% elif device.type == "iphart" %}
            icon: "{% static 'images/orange2.png' %}",
            {% elif device.type == "mitsubishi" %}
            icon: "{% static 'images/white.png' %}",
            {% elif device.type == "omron" %}
            icon: "{% static 'images/blue2.png' %}",
            {% elif device.type == "redlion" %}
            icon: "{% static 'images/green2.png' %}",
            {% elif device.type == "codesys" %}
            icon: "{% static 'images/purple2.png' %}",
            {% elif device.type == "iec" %}
            icon: "{% static 'images/yellow2.png' %}",
            {% elif device.type == "proconos" %}
            icon: "{% static 'images/pink2.png' %}",
            {% elif device.type == "nmea" %}
            icon: "{% static 'images/sat.png' %}",
            {% elif device.type == "axis" %}
            icon: "{% static 'images/axis.png' %}",


            {% elif device.type == "webcam" %}
            icon: "{% static 'images/camera_black.png' %}",
            {% elif device.type == "videoiq" %}
            icon: "{% static 'images/camera_blue.png' %}",
            {% elif device.type == "rtsp" %}
            icon: "{% static 'images/camera_blue.png' %}",
            {% elif device.type == "ipcamera" %}
            icon: "{% static 'images/camera_blue2.png' %}",
            {% elif device.type == "yawcam" %}
            icon: "{% static 'images/camera_brown.png' %}",
            {% elif device.type == "blueiris" %}
            icon: "{% static 'images/camera_green.png' %}",
            {% elif device.type == "ubnt" %}
            icon: "{% static 'images/camera_orange.png' %}",
            {% elif device.type == "go1984" %}
            icon: "{% static 'images/camera_pink.png' %}",
            {% elif device.type == "dlink" %}
            icon: "{% static 'images/camera_red.png' %}",
            {% elif device.type == "avtech" %}
            icon: "{% static 'images/camera_yellow.png' %}",
            {% elif device.type == "mqtt" %}
            icon: "{% static 'images/mqtt.png' %}",
            {% elif device.type == "dicom" %}
            icon: "{% static 'images/dicom.png' %}",
            {% elif device.type == "printer" %}
            icon: "{% static 'images/printer.png' %}",
            {% elif device.type == "sailor" %}
            icon: "{% static 'images/ship.png' %}",
            {% elif device.type == "rdp" %}
            icon: "{% static 'images/rdp.png' %}",
            {% elif device.type == "vnc" %}
            icon: "{% static 'images/vnc.png' %}",
            {% elif device.type == "screenshot" %}
            icon: "{% static 'images/screen.png' %}",

            {% elif device.type == "axc" %}
            icon: "{% static 'images/axc.png' %}",
            {% elif device.type == "modicon" %}
            icon: "{% static 'images/modicon.png' %}",
            {% elif device.type == "xp277" %}
            icon: "{% static 'images/xp277.png' %}",
            {% elif device.type == "vxworks" %}
            icon: "{% static 'images/vxworks.png' %}",
            {% elif device.type == "eig" %}
            icon: "{% static 'images/eig.png' %}",
            {% elif device.type == "digi" %}
            icon: "{% static 'images/digi.png' %}",
            {% elif device.type == "windweb" %}
            icon: "{% static 'images/windweb.png' %}",
            {% elif device.type == "moxahttp" %}
            icon: "{% static 'images/moxahttp.png' %}",
            {% elif device.type == "lantronix" %}
            icon: "{% static 'images/lantronix.png' %}",
            {% elif device.type == "entelitouch" %}
            icon: "{% static 'images/entelitouch.png' %}",
            {% elif device.type == "energyict_rtu" %}
            icon: "{% static 'images/energyict_rtu.png' %}",
            {% elif device.type == "crestron" %}
            icon: "{% static 'images/crestron.png' %}",
            {% elif device.type == "wince" %}
            icon: "{% static 'images/wince.png' %}",
            {% elif device.type == "ipc@chip" %}
            icon: "{% static 'images/ipc@chip.png' %}",
            {% elif device.type == "addup" %}
            icon: "{% static 'images/addup.png' %}",
            {% elif device.type == "anybus" %}
            icon: "{% static 'images/anybus.png' %}",
            {% elif device.type == "windriver" %}
            icon: "{% static 'images/windriver.png' %}",
            {% elif device.type == "wago" %}
            icon: "{% static 'images/wago.png' %}",
            {% elif device.type == "niagara_audit" %}
            icon: "{% static 'images/niagara_audit.png' %}",
            {% elif device.type == "niagara_web_server" %}
            icon: "{% static 'images/niagara_web_server.png' %}",
            {% elif device.type == "trendnet" %}
            icon: "{% static 'images/trendnet.png' %}",
            {% elif device.type == "stulz_klimatechnik" %}
            icon: "{% static 'images/stulz_klimatechnik.png' %}",
            {% elif device.type == "scalance" %}
            icon: "{% static 'images/scalance.png' %}",
            {% elif device.type == "somfy" %}
            icon: "{% static 'images/somfy.png' %}",
            {% elif device.type == "simatic" %}
            icon: "{% static 'images/simatic.png' %}",
            {% elif device.type == "simatic_s7" %}
            icon: "{% static 'images/simatic_s7.png' %}",
            {% elif device.type == "schneider_electric" %}
            icon: "{% static 'images/schneider_electric.png' %}",
            {% elif device.type == "power_measurement" %}
            icon: "{% static 'images/power_measurement.png' %}",
            {% elif device.type == "power_logic" %}
            icon: "{% static 'images/power_logic.png' %}",
            {% elif device.type == "telemecanique_bxm" %}
            icon: "{% static 'images/telemecanique_bxm.png' %}",
            {% elif device.type == "schneider_web" %}
            icon: "{% static 'images/schneider_web.png' %}",
            {% elif device.type == "fujitsu_serverview" %}
            icon: "{% static 'images/fujitsu_serverview.png' %}",
            {% elif device.type == "eiportal" %}
            icon: "{% static 'images/eiportal.png' %}",
            {% elif device.type == "ilon" %}
            icon: "{% static 'images/ilon.png' %}",
            {% elif device.type == "webvisu" %}
            icon: "{% static 'images/webvisu.png' %}",
            {% elif device.type == "total_access" %}
            icon: "{% static 'images/total_access.png' %}",

            {% elif device.type == "webcamxp" %}
            icon: "{% static 'images/webcamxp.png' %}",
            {% elif device.type == "vivotek" %}
            icon: "{% static 'images/vivotek.png' %}",
            {% elif device.type == "mobotix" %}
            icon: "{% static 'images/mobotix.png' %}",
            {% elif device.type == "techwin" %}
            icon: "{% static 'images/techwin.png' %}",
            {% elif device.type == "iqinvision" %}
            icon: "{% static 'images/iqinvision.png' %}",
            {% elif device.type == "grandstream" %}
            icon: "{% static 'images/grandstream.png' %}",
            {% elif device.category == "healthcare" %}
            icon: "{% static 'images/hospital.png' %}",
            {% else %}
            icon: "{% static 'images/black.png' %}",
            {% endif %}
        }),

                {% endfor %}]
    var options_googlemaps = {
        minZoom: 1,
        zoom: 3,
        center: mumbai,
        maxZoom: 17,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        streetViewControl: false
    }

    gm_map = new google.maps.Map(document.getElementById('google_world_map'), options_googlemaps);


    var options_markerclusterer = {
        gridSize: 20,
        maxZoom: 18,
        zoomOnClick: false,
        imagePath:  'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'
    };


    var markerCluster = new MarkerClusterer(gm_map, clusterMarkers, options_markerclusterer);

    google.maps.event.addListener(markerCluster, 'clusterclick', function(cluster) {

        var markers = cluster.getMarkers();

        var array = [];
        var num = 0;

        for(i = 0; i < markers.length; i++) {

            num++;
            array.push(markers[i].getTitle() + '<br>');
        }
        if (gm_map.getZoom() <= markerCluster.getMaxZoom()) {
           infoWindow.setContent(markers.length + " markers<br>"+array.join(""));
           infoWindow.setPosition(cluster.getCenter());
           infoWindow.open(gm_map);
        }
    });


    for(i = 0; i < clusterMarkers.length; i++) {
       var marker = clusterMarkers[i];

        google.maps.event.addListener(marker, 'click', (function(marker) {
            return function() {
           infoWindow.setContent(this.getTitle());
           infoWindow.open(gm_map, this);
            }
        })(marker));
    }

}$(document).ready(function() {

    // INITIALIZE GOOGLE MAPS
    initialize();
});

</script>
        <!-- END PLUGINS -->
<script src="{% static 'js/d3.wordcloud.js' %}" charset="UTF-8"></script>
                <script src="{% static 'js/d3.layout.cloud.js' %}" charset="UTF-8"></script>

                <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery-ui.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap.min.js' %}"></script>
        <!-- END PLUGINS -->

        <!-- START THIS PAGE PLUGINS-->


        <!-- END THIS PAGE PLUGINS-->

        <!-- START TEMPLATE -->
        <script type="text/javascript" src="{% static 'js/actions.js' %}"></script>


        <!-- END TEMPLATE -->
    <!-- END SCRIPTS -->

    </body>
</html>

{% endblock %}





