<!DOCTYPE html>
<html lang="en">
{% load static %}
{% block page_content %}
    <head>
        <title>Resources - ꓘamerka</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,300;0,400;0,500;0,700;1,400&family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" id="theme" href="{% static 'css/theme-default.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/kamerka-ui.css' %}"/>
    </head>
    <body>
        <div class="page-container">
            <div class="page-sidebar">
                <ul class="x-navigation">
                    <li class="xn-logo">
                        <a href="/">ꓘamerka</a>
                        <a href="#" class="x-navigation-control"></a>
                    </li>
                    <li class="xn-profile">
                        <div class="profile">
                            <div class="profile-image"></div>
                            <div class="profile-data">
                                <img width=200px height=200px src="https://www.offensiveosint.io/content/images/2020/07/OffensiveOsint-logo-RGB-2.png">
                            </div>
                        </div>
                    </li>
                    <li class="xn-title">Navigation</li>
                    <li><a href="index"><span class="fa fa-desktop"></span> <span class="xn-text">Dashboard</span></a></li>
                    <li><a href="history"><span class="fa fa-files-o"></span> <span class="xn-text">History</span></a></li>
                    <li><a href="map"><span class="fa fa-map-marker"></span> <span class="xn-text">Map</span></a></li>
                    <li><a href="devices"><span class="fa fa-search"></span> <span class="xn-text">Database</span></a></li>
                    <li><a href="gallery"><span class="fa fa-camera"></span> <span class="xn-text">Gallery</span></a></li>
                    <li class="xn-title">Other</li>
                    <li class="active"><a href="sources"><span class="fa fa-book"></span> <span class="xn-text">Useful links</span></a></li>
                </ul>
            </div>
            <div class="page-content">
                <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
                    <h1 style="display:inline-block;">Resources</h1>
                </ul>
                <div class="page-content-wrap">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Blogs</h3>
                                </div>
                                <div class="panel-body">
                                    <ul style="list-style:none;padding:0;margin:0;">
                                        <li style="padding:8px 0;border-bottom:1px solid rgba(0,172,204,0.07);">
                                            <a href="https://offensiveosint.io" target="_blank" rel="noopener noreferrer" style="font-weight:600;">Offensive OSINT</a>
                                            <span style="display:block;font-size:11px;color:#5a7d8e;margin-top:2px;">Wojciech — ICS / IoT / OSINT research</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Default Credentials</h3>
                                </div>
                                <div class="panel-body">
                                    <ul style="list-style:none;padding:0;margin:0;">
                                        <li style="padding:8px 0;border-bottom:1px solid rgba(0,172,204,0.07);">
                                            <a href="https://github.com/ITI/ICS-Security-Tools/blob/master/configurations/passwords/scadapass.csv" target="_blank" rel="noopener noreferrer" style="font-weight:600;">scadapass.csv</a>
                                            <span style="display:block;font-size:11px;color:#5a7d8e;margin-top:2px;">ITI / ICS-Security-Tools — SCADA default passwords</span>
                                        </li>
                                        <li style="padding:8px 0;">
                                            <a href="http://www.critifence.com/default-password-database/" target="_blank" rel="noopener noreferrer" style="font-weight:600;">Critifence Default Password DB</a>
                                            <span style="display:block;font-size:11px;color:#5a7d8e;margin-top:2px;">Extensive default credentials for industrial devices</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery-ui.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/actions.js' %}"></script>
    </body>
</html>
{% endblock %}
