<!DOCTYPE html>
<html lang="en">
{% load static %}
{% block page_content %}
    <head>
        <!-- META SECTION -->
        <title>Links - ꓘamerka</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- END META SECTION -->

        <!-- CSS INCLUDE -->
        <link rel="stylesheet" type="text/css" id="theme" href="{% static 'css/theme-default.css' %}"/>
        <!-- EOF CSS INCLUDE -->
    </head>
    <body>
        <!-- START PAGE CONTAINER -->
        <div class="page-container">

            <!-- START PAGE SIDEBAR -->
            <div class="page-sidebar">
                <!-- START X-NAVIGATION -->
                <ul class="x-navigation">
                    <li class="xn-logo">
                        <a href="/">ꓘamerka</a>
                        <a href="#" class="x-navigation-control"></a>
                    </li>
                    <li class="xn-profile">

                        <div class="profile">
                            <div class="profile-image">
                            </div>
                            <div class="profile-data">
                                  <img width=200px height=200px src="https://www.offensiveosint.io/content/images/2020/07/OffensiveOsint-logo-RGB-2.png">

                            </div>

                        </div>
                    </li>
                    <li class="xn-title">Navigation</li>
                    <li class="">
                        <a href="index"><span class="fa fa-desktop"></span> <span class="xn-text">Dashboard</span></a>
                    </li>
                    <li class="">
                        <a href="history"><span class="fa fa-files-o"></span> <span class="xn-text">History</span></a>
                    </li>
                    <li class="">
                        <a href="map"><span class="fa fa-map-marker"></span> <span class="xn-text">Map</span></a>
                    </li>
                    <li class="">
                        <a href="devices"><span class="fa fa-search"></span> <span class="xn-text">Search</span></a>
                    </li>

                    <li class="xn-title">Components</li>

                    <li>
                        <a href="sources.html"><span class="fa fa-book"></span> <span class="xn-text">Useful links</span></a>
                    </li>


                </ul>
                <!-- END X-NAVIGATION -->
            </div>
            <!-- END PAGE SIDEBAR -->

            <!-- PAGE CONTENT -->
            <div class="page-content">

                <!-- START X-NAVIGATION VERTICAL -->
                <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
                    <!-- TOGGLE NAVIGATION -->


                </ul>
                <!-- START BREADCRUMB -->

                <!-- END BREADCRUMB --><div class="page-title">
                    <h2>Links</h2>
                </div>

                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">

                    <div class="row">
                        <div class="col-md-12">

                            <div class="panel panel-default">
                                <div class="panel-body">

                                    <h2>Blogs</h2>

                                         <p><h3>Wojciech - <a href="https://offensiveosint.io">Offensive OSINT</a> - <a href="https://twitter.com/@the_wojciech">https://twitter.com/@the_wojciech</a></h3> </p>

                                    <h2>Industrial Control Systems</h2>
                                    <p><h3>Niagara - <a href="https://www.tridium.com/products-services/niagara4">https://www.tridium.com</a></h3> </p>
                                    <p><h3>Phoenix Contact - <a href="https://www.phoenixcontact.com/">https://www.phoenixcontact.co/</a></h3> </p>
                                    <p><h3>Mitsubishi Electric - <a href="https://www.mitsubishielectric.com/">https://www.mitsubishielectric.com</a></h3> </p>
                                    <p><h3>Omron - <a href="https://www.omron.com/">https://www.omron.com</a></h3> </p>
                                    <p><h3>Red Lion - <a href="https://www.redlion.net/">https://www.redlion.net/</a></h3> </p>
                                    <p><h3>Codesys - <a href="https://www.codesys.com/">https://www.codesys.com/</a></h3> </p>
                                    <p><h3>Siemens S7 - <a href="https://new.siemens.com/global/en/products/automation/systems/industrial/plc/simatic-s7-300.html">https://new.siemens.com/global/en/products/automation/systems/industrial/plc/simatic-s7-300.html</a></h3> </p>
                                    <p><h3>IoT Carel - <a href="https://iot.carel.com">https://iot.carel.com</a></h3> </p>
                                    <p><h3>Moxa - <a href="https://www.moxa.com">https://www.moxa.com</a></h3> </p>
                                    <p><h3>SpiderControl - <a href="https://spidercontrol.net/">https://spidercontrol.net/</a></h3> </p>
                                    <p><h3>VTScada - <a href="https://www.vtscada.com/">https://www.vtscada.com/</a></h3> </p>
                                    <p><h3>Nordex - <a href="http://www.nordex-online.com/">http://www.nordex-online.com</a></h3> </p>
                                    <p><h3>Codesys - <a href="https://www.codesys.com/">https://www.codesys.com/</a></h3> </p>

                                    <h2>Internet of Things </h2>
                                    <p><h3>Yawcam - <a href="https://www.yawcam.com/">https://www.yawcam.com</a></h3> </p>
                                    <p><h3>Blue Iris - <a href="https://blueirissoftware.com/">https://blueirissoftware.com/</a></h3> </p>
                                    <p><h3>go1984 - <a href="https://www.go1984.com/">https://www.go1984.com/</a></h3> </p>
                                    <p><h3>AVTech - <a href="https://www.avtech.com.tw/">https://www.avtech.com.tw/</a></h3> </p>


                                    <h2>Other</h2>
                                    <p><h3>Default password for Scada devices - <a href="https://github.com/ITI/ICS-Security-Tools/blob/master/configurations/passwords/scadapass.csv">https://github.com/ITI/ICS-Security-Tools/blob/master/configurations/passwords/scadapass.csv</a></h3> </p>
                                    <p><h3>Default password for Scada devices 2- <a href="http://www.critifence.com/default-password-database/">http://www.critifence.com/default-password-database/</a></h3> </p>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                </div>

                <!-- END PAGE CONTENT WRAPPER -->
            </div>
            <!-- END PAGE CONTENT -->
        </div>
        <!-- END PAGE CONTAINER -->


                <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery-ui.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap.min.js' %}"></script>
        <!-- END PLUGINS -->

        <!-- START THIS PAGE PLUGINS-->


        <!-- END THIS PAGE PLUGINS-->

        <!-- START TEMPLATE -->


        <script type="text/javascript" src="{% static 'js/actions.js' %}"></script>

        <!-- END TEMPLATE -->
    <!-- END SCRIPTS -->
    </body>
</html>

{% endblock %}





